@page "/"
@model Chirp.Web.Pages.PublicModel
@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    <div class=navigation>
        @if (SignInManager.IsSignedIn(User))
        {
        <div>
            <a href="/@(User.Identity!.Name)">My timeline</a>
            |
            <a href="/">Public timeline</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            |
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
        }
        else
        {
        <div>
            <a href="/">Public timeline</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        }
    </div>

    <div class=cheepBox>
        @if (SignInManager.IsSignedIn(User))
        {
        <section>
            <form id="createCheep" method="post">
                <h2>Post a cheep.</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Message" class="form-control" aria-required="true" placeholder="@PublicModel.MessagePlaceholder()" style="width=100%;"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div>
                    <button id="cheep-submit" type="submit" class="w-100 btn btn-lg btn-primary">Post Cheep</button>
                </div>
            </form>
        </section>
        }
    </div>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
        <div class=footer>
            <ul id="page-navigation">
                @for(var i = 1; i <= Model.TotalPageCount; i++)
                    {
                    <li @(i == Model.PageNumber ? "id=currentPage" : "")>
                        <a href="?page=@i">
                            @i
                        </a>
                    </li>
                    } 
            </ul>
            Chirp &mdash; An ASP.NET Application
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
