@page "/"
@model Chirp.Web.Pages.PublicModel
@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<!-- The Cheep input field box -->



<nav>
    @if (SignInManager.IsSignedIn(User))
    {
    <div>
        <button class="clear-button"><a href="/@(User.Identity!.Name)">My timeline</a></button>
        
        |
        <button class="clear-button"><a href="/">Public timeline</a></button>
        
        |
        <button class="clear-button"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a></button>
        |
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
    }
    else
    {
    <div>
        <button class="clear-button"><a href="/">Public timeline</a></button>
        |
        <button class="clear-button"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a></button>
        |
        <button class="clear-button"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
    </div>
    }
</nav>

@if (SignInManager.IsSignedIn(User))
{
<section id="cheepingBox">
    <h2>Make a cheep</h2>
    <form method="post" action="/cheep">
        <label for="message">Cheep something</label>
        <br>
        <textarea name="message" id="message" cols="50" rows="5" placeholder="What's poppin'?"></textarea>
        <br>
        <input type="submit"></input>
    </form>
</section>
}

<section>
    <h2> Public Timeline </h2>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</section>
}

