@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@using Chirp.Infrastructure
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    var isMyTimeline = (string) routeName == User.Identity.Name;
}

<div>
    @if (Model.Cheeps is not null)
    {
        <div class=navigation>
            @if (SignInManager.IsSignedIn(User))
            {
            <div>
                <a href="/@(User.Identity!.Name)">My timeline</a>
                |
                <a href="/followed">Followed timeline</a>
                |
                <a href="/">Public timeline</a>
                |
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Profile</a>
                |
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                    <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
            }
            else
            {
            <div>
                <a href="/">Public timeline</a>
                |
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                |
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
            }
        </div>

        @if (isMyTimeline)
        {
        <h2> My Timeline </h2>
        <div>You have @Model.FollowerCount @(Model.FollowerCount == 1 ? "follower" : "followers").</div>
        }
        else
        {
        <h2> @routeName's Timeline </h2>
        <div>They have @Model.FollowerCount @(Model.FollowerCount == 1 ? "follower" : "followers").</div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                @if (!Model.IsFollowing((string) routeName))
                {
                    <form class="followAuthor" method="post" asp-page-handler="Follow">
                        <button id="follow-submit" type="submit" class="w-100 btn btn-lg btn-primary">Follow Author</button>
                    </form>
                }
                else
                {
                    <form class="unfollowAuthor" method="post" asp-page-handler="Unfollow">
                        <button id="unfollow-submit" type="submit" class="w-100 btn btn-lg btn-primary">Unfollow Author</button>
                    </form>
                }
                </div>
            }
        }

        @if (Model.Cheeps.Any())
        {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
            <li>
                <p>
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                    @cheep.Message
                    <small>&mdash; @cheep.Timestamp</small>
                </p>
            </li>
            }
        </ul>
        <div class=footer>
            <ul id="page-navigation">
                @for(var i = 1; i <= Model.TotalPageCount; i++)
                    {
                    <li @(i == Model.PageNumber ? "id=currentPage" : "")>
                        <a href="?page=@i">
                            @i
                        </a>
                    </li>
                    } 
            </ul>
            Chirp &mdash; An ASP.NET Application
        </div>
        }
        else
        {
        <em>There are no cheeps so far.</em>
        }
    }
    else
    {
    <h2> User @routeName does not exist </h2>

    <div class=navigation>
        @if (SignInManager.IsSignedIn(User))
        {
        <div>
            <a href="/@(User.Identity!.Name)">My timeline</a>
            |
            <a href="/">Public timeline</a>
            |
            <a href="/followed">Followed timeline</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            |
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
        }
        else
        {
        <div>
            <a href="/">Public timeline</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            |
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        }
    </div>
    }
</div>
